
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Licorice, sans-serif;
    margin: 0;
    padding: 0;
    /* color: navy;  */
    background-image: url(./assets/img/bodybg.gif);
    background-size: cover;
}

header, footer{
    padding: lem;
    background-color: skyblue;
    text-align: center;
    font-size: zem;
    font-weight: bold;
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
    border-bottom: 4px solid rgb(8, 0, 76);
}
header h1, footer p{
    margin: 0;
}
main{
    padding: 1em;
}
h1 {
    font-family: Licorice, sans-serif;
    font-size: 2em;
}
.playlist-cards{
    display: flex;
    flex-wrap: wrap;
}
.playlist-grid{
    text-align: center;
    font-size: 0.75em;
    display: flex;
    flex-wrap: wrap;
}
/* .playlist-cards:hover{
    transform: scale(0.9);
    /* box-shadow: 0 8px 16px rgba(0,0,0,0.7); 
} */

.playlist-blocks{
    border: 5px solid;
    padding: 50px;
    margin: 10px 0px 10px 10px;
    width: min-content;
    display: inline-block;
    background-color: aliceblue;
    text-align: center;
}
.image-function{
    width: 100px;
    border: 40px;
    margin: 20px;
}

.playlist-cover{
    width: 100%;
    height: auto;
    border-bottom: 3px solid rgb(255, 123, 0);

}

.modal {
    position: fixed; /* Stay in place */
    padding: 20px;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
 }
 .modal-content {
    max-width: 800px;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #457fb4;
    width: 60%; /* Could be more or less, depending on screen size */
    color: white;
    animation: slideIn 0.5s;
 }
 .modal-overlay{
    background-color: skyblue;
    margin: 12%;
    padding: 20px;
    width: 80%;
 }

 .close {
    color: #7faed4;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;

 }

